torch==2.4.0
torchaudio==2.4.0
transformers==4.46.3
sentencepiece==0.2.1
srt==3.5.3
soundfile==0.12.1
librosa==0.10.2
numpy==1.26.4
scipy==1.13.1
PyYAML==6.0.3
fastapi==0.120.4
uvicorn==0.38.0
pydantic==2.9.2
huggingface-hub==0.36.0
accelerate==1.11.0
praat-parselmouth==0.4.6
speechbrain==1.0.3
protobuf==3.20.3